appdirs==1.4.3
catkin-pkg==0.3.1
dicttoxml==1.7.4
docutils==0.13.1
funcsigs==1.0.2
mock==2.0.0
numpy==1.12.1
packaging==16.8
pbr==3.0.0
protobuf==3.3.0
pyparsing==2.2.0
python-dateutil==2.6.0
PyYAML==3.12
rospkg==1.1.1
six==1.10.0
tensorflow-gpu==1.1.0
Werkzeug==0.12.1
xmltodict==0.11.0
